<% provide(:title, "About") %>
<h1>About</h1>
<p>MembersOnly is a private club where the users can write posts about everything. Their name will not
be shown to non-users.</p>
<p>Created by <a href="https://github.com/jamcry"><strong>JamCry</strong></a></p>