@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-top: 3rem;
  text-align: center;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.center {
  text-align: center;
}

.center-form {
  margin: auto;
}

.form-group {
  text-align: left;
  font-weight: bold;
}
